.mainBox-wrap {
    width: 1300px;
    height: 800px;
    border: 1px solid black;
    border-radius: 10px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.choiceBox {
    width: 1300px;
    height: 100px;
    border: 1px solid black;
    border-radius: 10px;

    position: fixed;
    bottom: 0;
    right: 0;

    background-color: lightblue;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.attack {
    width: 200px;
    height: 50px;
    border: 1px solid brown;
    border-radius: 10px;

    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;

    cursor: pointer;
}

.attack:hover {
    opacity: 0.8;
}

.steal {
    width: 200px;
    height: 50px;
    border: 1px solid brown;
    border-radius: 10px;

    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;

    cursor: pointer;
}

.steal:hover {
    opacity: 0.8;
}

.itemUse {
    width: 200px;
    height: 50px;
    border: 1px solid brown;
    border-radius: 10px;

    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;

    cursor: pointer;
}

.itemUse:hover {
    opacity: 0.8;
}

.monsterBox {
    height: 350px;
    border: 1px solid black;

}

.statBox {

    border: 1px solid black;
}

.fightBox {
    width: 100%;
    height: 100%;

}

.playerBox {
    height: 350px;
    border: 1px solid black;

}

.nameLevelHp-wrap {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
}

.nameLevelBox {
    height: 50%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;

}

.hpBorderbox {
    height: 50%;
    width: 100%;
    border: 1px solid black;
}

.monsterImageBox {
    border: 1px solid black;
    height: 100%;
    width: 40%;
}

.flexmodebox {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
}

.blankbox {
    width: 30%;
    height: 100%;
    border: 1px solid black;
}

.nameBox {
    width: 40%;
    height: 100%;
    border: 1px solid black;

}

.levelBox {
    width: 27%;
    height: 100%;
    border: 1px solid black;

}

.hpBorderbox {
    display: flex;
    flex-wrap: wrap;
}

.leftBox {
    width: 15%;
    height: 100%;
    border: 1px solid black;
}

.hpUnderBar-wrap {
    width: 83%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.hpBox {
    width: 100%;
    height: 50%;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;

}

.underBar {
    width: 100%;
    height: 50%;
    border: 1px solid black;

}

.hpText {
    width: 20%;
    height: 100%;
    border: 1px solid black;

}

.hpRedBarBox {
    width: 78%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.hpRedBar {
    position: relative;
    width: 0%;
    height: 45%;
    border: 1px solid black;

    background-color: rgba(255, 255, 255, 0.2);

}
.jb{
    box-sizing: border-box;
	width: 100%;
	height: 45%;
	background-color: orange;
	transition-property: all;
	transition-duration: 2s;
}
.dmg10{
    box-sizing: border-box;
	width: 90%;
	height: 45%;
	background-color: orange;
	transition-property: all;
	transition-duration: 2s;
}

.dmg20{
    box-sizing: border-box;
	width: 80%;
	height: 45%;
	background-color: orange;
	transition-property: all;
	transition-duration: 2s;
}

.dmg30{
    box-sizing: border-box;
	width: 70%;
	height: 45%;
	background-color: orange;
	transition-property: all;
	transition-duration: 2s;
}

.dmg40{
    box-sizing: border-box;
	width: 60%;
	height: 45%;
	background-color: orange;
	transition-property: all;
	transition-duration: 2s;
}

.dmg50{
    box-sizing: border-box;
	width: 50%;
	height: 45%;
	background-color: orange;
	transition-property: all;
	transition-duration: 2s;
}
.dmg60{
    box-sizing: border-box;
	width: 40%;
	height: 45%;
	background-color: orange;
	transition-property: all;
	transition-duration: 2s;
}

.dmg70{
    box-sizing: border-box;
	width: 30%;
	height: 45%;
	background-color: orange;
	transition-property: all;
	transition-duration: 2s;
}

.dmg80{
    box-sizing: border-box;
	width: 20%;
	height: 45%;
	background-color: orange;
	transition-property: all;
	transition-duration: 2s;
}

.dmg90{
    box-sizing: border-box;
	width: 10%;
	height: 45%;
	background-color: orange;
	transition-property: all;
	transition-duration: 2s;
}

.dmg100{
    box-sizing: border-box;
	width: 0%;
	height: 45%;
	background-color: orange;
	transition-property: all;
	transition-duration: 2s;
}




/* input[type="radio"]:checked + label  ~ .jb {
    width: 0%;
} */

.jb5 {
    transition-timing-function: ease-in-out;
}

/* 
.is-active{

} */ 

/* .hpRedBar::after {
    position: absolute;
    content: "hp ...";
    color: rgb(209, 51, 51);
    left: 90px;

}

.hpRedBar::before {

    content: "";
    position: absolute;
    background-color: rgb(222, 33, 33);
    top: 0px;
    height: 20px;
    width: 0px;
    z-index: 0;
   

} */

/* @-webkit-keyframes hpRedBar{
    0%{width: 0px; left: 0px}
    48%{width: 100%; left: 0px}
    50%{width: 100%; right: 0px}
    52%{width: 100%; right: 0px}
    100%{width: 0px; right: 0px}
}

@keyframes hpRedBar{
    0%{width: 0px; left: 0px}
    48%{width: 100%; left: 0px}
    50%{width: 100%; right: 0px}
    52%{width: 100%; right: 0px}
    100%{width: 0px; right: 0px}
} */

.hpRedBarBox .underBar {
    width: 100%;
    height: 50%;
    border: 1px solid black;

}

.hpBorderbox .leftBox {
    width: 15%;
    height: 100%;
    border: 1px solid black;

}

.hpBox .flexmodebox {
    display: flex;
    width: 78%;
    height: 100%;
    flex-wrap: wrap;
    border: 1px solid black;
}